{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

    <div class="features">
        <h1>О нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate dolore earum esse itaque laborum necessitatibus qui totam ut vero! A eligendi error in voluptatibus. Adipisci architecto consectetur deleniti, fuga hic maiores officia, officiis omnis perferendis, quasi quis ratione reprehenderit ullam voluptas voluptatum. Adipisci autem culpa deserunt enim ipsum nostrum?</p>
        <button class="btn btn-warning">Просто кнопка</button>
    </div>

{% endblock %}